* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open sans;
}



/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/*Mobile Viwe Section*/
@media (min-width: 400px) (max-width: 880px){
	img {
        width: 100%;
	}
	.tabcontent {
		height: 50%;
	}
	
}


/* Style tab links */
.tablink {
  background-color: #0047b3;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #4d79ff;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #fff;
  display: flex;
  padding: 100px 70px;
  margin: 30px;
  height: 170%;
  background-color: #001f4d;
}

/*background color Section*/

#Home {background-color: #ff1a1a;}
#News {background-color: #0099ff;}
#Contact {background-color: #0052cc;}
#About {background-color: #ff9900;}



#Home1 {background-color: #47476b;}
#News1 {background-color: #ff3333;}
#Contact1 {background-color: #0040ff;}
#About1 {background-color: #ff8000;}


/*body Section*/



body {
	background-color: #001a66;
}

h4 {
    animation: 1s sildefade 1s forwards;
}

 @keyframes sildefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

/*Footer Section*/

footer {
	left: 0;
	bottom: 0;
	justify-content: space-between;
	background-color: #000d33;
	color: #fff;
	padding: 5px 0px;
}

footer ul {
	display: inline-flex;
	list-style: none;

}

footer ul li i {
	display: flex;
	align-items: ;
	padding: 0;
	justify-content: space-between;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	margin-left: 120px;	
}

i {
	size: 20%;
	justify-content: space-between;
	color: #fff;
}

/*header Section*/

header {
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}
@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/*IMG Section*/

img {
	width: 35%;
	max-width: 100%;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}

}
